body{
	background: #A0EFDB;
	height: 100%;
}
div{
	resize: both;
	overflow: auto;
}
table,th,td{
	
	
	border-collapse: collapse;
	margin: auto;
}

button{
	


}

.cell{
	width: 100px;
	height:100px;
	border-radius: 20px;
	text-align: center;
	color: red;
	font-size: 50px;
	font-family:grid-row-end; 
}
.container{
	text-align: center;
	background: #F8F642;
	width: 100%;
}

.container1{
	background:#F9BAFD;
	padding :100px;
	height: 100vh;
}

